body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*==========Common Css==========*/
.flex-container{
    display: flex;
    margin-bottom: 50px;
}

h1{
    font-size: 50px;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}

.orange-color{
    color: orange;
}

.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to left, red , orange);
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 20px;
}

.half-width img{
    width: 80%;
}


/*===========About==============*/
.about{
    background: url('images/shapes/third.png') no-repeat;
    background-size: cover;
}

.about .half-width img{
    width: 40%;
}


/*============Blog=================*/
.blog h2{
    text-align: center;
}

.blog p{
    text-align: center;
}

.blog-item{
    width: 30%;
    margin: 3%;
    box-shadow: 10px 10px 50px gray;
    border-radius: 15px;
    padding: 20px;
}

.blog-item img{
    max-width: 100%;
    object-fit: cover;
}

/*============Follow=================*/
.follow{
    box-shadow: 10px 10px 50px gray;
    border-radius: 15px;
    margin: 0 3%;
}
.follow-item{
    width: 30%;
    padding: 3%;
}
.follow-item h2{
    font-weight: 700px;
}

/*============Footer=================*/
footer{
    background: #000000;
    color: white;
    padding: 5px;
    text-align: center;
}

.footer-first-text{
    color: orange;
}
.footer-second-text{
    color: gray;
}