body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*==========Common Css==========*/
.flex-container{
    display: flex;
    margin-bottom: 50px;
}

h1{
    font-size: 40px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.orange-color{
    color: orange;
}

.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to left, red , orange);
    padding: 15px 30px;
    border-radius: 30px;
    display: inline-block;
    margin: 20px 0;
}

.submit-btn{
    color: white;
    background-image: linear-gradient(to left, red , orange);
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    display: inline-block;
    margin: 20px 0;
}


.half-width img{
    width: 80%;
}

input:focus,
textarea:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*=========Intro===========*/
.intro-section{
    margin-top: 20px;
}

.intro-section .first-side{
    margin-top: 120px;
}


/*===========About==============*/
.about{
    background: url('images/shapes/third.png') no-repeat;
    background-size: cover;
}

.about .half-width img{
    width: 40%;
}

.about-me{
    margin-top: 80px;
}

/*============Blog=================*/
.blog h2{
    text-align: center;
}

.blog p{
    text-align: center;
}

.blog-item{
    width: 33.33%;
    margin: 3%;
    box-shadow: 10px 10px 50px gray;
    border-radius: 15px;
    padding: 20px;
}

.blog-item img{
    max-width: 100%;
    object-fit: cover;
}

/*============Follow=================*/
.follow{
    box-shadow: 10px 10px 50px gray;
    border-radius: 15px;
    margin: 0 3%;
}
.follow-item{
    width: 30%;
    padding: 3%;
}
.follow-item h2{
    font-weight: 700px;
}

/*===========Contact================*/
.contact{
    background: url('images/shapes/fifth.jpg') no-repeat;
    background-size: cover;
    padding: 40px 0;
    margin-bottom: -1px;
}

.first-section-input input{
    padding: 10px 40px;
    border: 1px solid gray;
    border-radius: 20px;
}

.second-section-input input{
    padding: 10px 40px;
    width: 430px;
    border: 1px solid gray;
    border-radius: 20px;
}

textarea {
    padding: 10px 40px;
    width: 430px;
    border: 1px solid gray;
    border-radius: 20px;
    height: 60px;
}


/*============Footer=================*/
footer{
    background: #000000;
    color: white;
    padding: 5px;
    text-align: center;
}

.footer-first-text{
    color: orange;
}
.footer-second-text{
    color: gray;
}